body{
    /*background-image: linear-gradient(to right, #dba93c , #cdcdcd);*/
    background: linear-gradient(0deg, #f0f0f0, #dba93c); width: 100%; height: 100vh;
    font-family: 'Prompt', sans-serif;
  }

#nave0{
    background-color: #f0f0f0;
    height: 60px;
    width: 95%;
    border-radius: 25px
}
#nave{
    font-size: 25px;
    padding: 8px;
    width: 100%;
    vertical-align: top;
    text-align: center;
}
.nave2{
    width: 15%;
}

#logo{
    height: 40px;
}
a{
    text-decoration: none;;
    color: black;
}
a:hover{
    text-decoration: none;
    background-color: #969696bb;
    border-radius: 4px;
}

#formato_div_titulo,#formato_div_cuerpo{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
}

#formato_div_titulo{
    width: 250px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}


label{
    font-size: 25px;
}

.cuerp_formulario{
    border: none;
    background-color: #dba93c9a;
    height: 25px;
    border-radius: 5px;
}

textarea{
    margin: 8px;
    height: 50px;
    width: 1000px;
}

#submit{
    margin-left: 15px;
    border: none;
    font-size: 30px;
    border-radius: 15px;
    height: 55px;
    background-color: #dba93c9a;
}

#submit:hover{
    background-color: #a27d2b9a;
}
