#div_1{
    background-color: #43e6a5;
    width: 200px;
    height: 165px;
    border: 1px solid;
    position: absolute;
    top: 170px;
    left: 50px;
    overflow: visible;
}
#div_2{
    background-color: #b8d464;
    width: 100px;
    height: 355px;
    border: 1px solid;
    position: absolute;
    top: 10px;
    left: 1190px;
    overflow: visible;
}
#div_3{
    background-color: #b53d28;
    width: 800px;
    height: 50px;
    border: 1px solid;
    position: absolute;
    top: 100px;
    left: 110px;
    overflow: visible;
}